/* Highest level container */
.body-container {
    top:0;
}

/* Body section containers */
.body-section {
    background-color: #f5f5f5;
    margin:0;
    height:fit-content;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

.home-container {
    /* background-image: linear-gradient(to bottom right, #ec8734,#e92646,#e0d420); */
    background-image: url("../assets/background-b-w.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Montserrat', 'sans-serif';
}

.about-container {
    background-color: #f5f5f5;
    padding: 50px;
}

.skills-container {
    /* background: linear-gradient(to right bottom, rgb(30, 30, 30, 0.75), rgb(75, 166, 228)); */
    background-image: url("../assets/background-temp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .home-container section */

.topline-container {
    display:block;
    position: relative;
    margin: 0.5rem auto 0 auto;
    text-align: center;
}

.topline-container p {
    padding: 0;
    margin: 0 2rem 0 2rem;
    display: inline;
    font-weight: 500;
    font-size: 1.2rem;
    color: #1a1a1a;
}

.topline-container .break {
    font-weight: 100;
    font-size: 25px;
}

@media only screen and (min-width: 700px) and (max-width: 950px){
    .topline-container p {
        margin: 0 0.1rem 0 0.1rem;
    }
}

@media only screen and (max-width: 699px) {
    .topline-container p {
        display: none;
    }

    .about-container {
        padding: 5px;
    }
}

.img-container {
    display:block;
    position: relative;
    top: 200px;
    margin: 0 auto;
    z-index:1;
}

.home-profile {
    width: 200px;
}

.blurb-container {
    top: 150px;
    margin: 0 auto;
    width:fit-content;
    position:relative;
    background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.25), rgba(150, 150, 150, 0.65));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 12px 3px rgba(30, 30, 30, 0.35);
    border-radius: 15px;
    color: rgb(235, 229, 229);
    font-size: 40px;
    padding:2rem 3rem 1rem 3rem;
    font-weight:100;
    text-align: center;
}

.blurb-container p {
    margin: 0;
    padding: 0;
}

.name-para {
    font-weight: 800;
    font-size: 60px;
    color: rgb(75, 166, 228);
    /* color: #f5f5f5; */
    /* color: #1a1a1a; */
}

/* .about-container section */

.about-statement {
    margin: 0 auto;
    position: relative;
    width: 85%;
}

.about-statement p {
    text-align: center;
    margin:0;
    padding:0;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.75rem;
}

.jobTimeline {
    margin-top: 5rem;
}

.jobTimeline p {
    margin: 0;
    padding: 0;
}
