.headerbar-container {
    margin: 0;
    background-color: rgba(26, 26, 26, 0.65);
    /* background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); */
    backdrop-filter: blur(15px);
    box-shadow: 5px 0px 10px rgba(30,30,30,0.5);
    display: block;
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: inherit;
}


.headerbar-container ul {
    margin: 0 5rem 0 0;
    float: right;
    position: relative;
    height: auto;
    padding: 0;
}

li {
    list-style: none;
    width: fit-content;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    display: inline-block;
    margin-top: 1.75rem;
}

.navbar-link-last {
    color: white;
    text-decoration: none;
    padding-right: 0;
    display: inline-block;
    margin-top:1.75rem;
}
