.MuiTimeline-root {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 200;
}

.MuiTimeline-root * {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}

.MuiTimelineDot-root {
    border-color: rgb(20, 144, 226) !important;
    color:rgb(20, 144, 226) !important;
    background-color: rgb(20, 144, 226) !important;
    box-shadow: none !important;
}

.MuiTimelineConnector-root {
    background-color:rgb(15, 15, 15, 0.75) !important;
    width: 1px !important;
}

.timeline .job-title {
    font-weight: 500;
}

.timeline .org-name {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
}

.timeline .job-desc {
    font-size: 1rem;
}
