.MuiTimeline-root {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 200;
}

.MuiTimeline-root * {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}

.timeline .job-title {
    font-weight: 500;
}

.timeline .org-name {
    font-style: italic;
    font-weight: 400;
}
