.container {
	width: 100%;
	top: 0;
	margin: 0;
	display: fixed;
}

.sidebar-container {
	background-color: rgba(26, 26, 26, 0.75);
    /* background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); */
    backdrop-filter: blur(15px);
    box-shadow: 5px 0px 10px rgba(30,30,30,0.5);
	height: 100vh;
	padding: 0;
	margin: 0;
	width: 50vw;
	position:fixed;
	transition: transform 0.2s linear;
}

.hidden {
	transform: translate(-50vw);
}

.visible {
	transform: translate(0);
}

.icon {
	margin: 0;
	float: left;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
	cursor: pointer;
	color:white;
}

.close{
	float: right;
	padding-left: 0;
	padding-right:0.5rem;
	color: #f5f5f5;
}

.sidebar-container ul {
	padding: 0.2rem;
	margin-top: 2rem;
	list-style: none;
	display: block;
	top:0;
	position: fixed;
}

.sidebar-container ul li {
	list-style: none;
	display: block;
	padding: 1rem;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

.sidebar-container ul li a {
	text-decoration: none;
	margin:0;
	padding: 0;
	top: 0;
}
